body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

i {
  font-size: 3rem;
}

.Social_links a {
  margin: 0 20px;
}

.upwork img {
  max-width: 55px;
  position: relative;
  top: 10px;
}

p {
  font-size: 1.2rem;
}


.SkillComp p {
  font-weight: 100;
}


.About a {
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}


.About a:hover {
  color: #192947;
}

.custom-select {
  padding: 5px;
  width: 130px !important;
  font-weight: bold;
}


@media (min-width: 768px) {

  .SkillComp:nth-child(odd) .WorkThumbnail {
    order: 2 !important;
  }


}

.navLinks {

  display: inline-block;
}

a:hover {
  font-weight: bold;
  transition: all .3s ease-out;

}

@media (max-width: 768px) {


  .navLinks {

    float: left;
    width: 100%;
    margin: 15px 0;
    text-align: center;

  }

}

.contactFloater {
  position: fixed;
  bottom: 40px;
  right: 25px;
  background: #ffffff;
  font-weight: bold;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0px 2px 2px 1px #525252;
}


.WorkThumbnail img {
  max-width: 350px;
}

#closeFloater {
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 5px;
}

#openFloater {
  padding: 10px 25px;
  display: block;
  cursor: pointer;
}

#contact_form {
  text-align: left;
}

#contact_form label {
  margin-bottom: 10px;
}

.contactFloater:hover {
  background-color: #016194;
}

.contactFloater .closed {
  display: none;
}

.contactFloater a {
  color: #000;
}

.contactFloater a:hover {
  font-weight: bold;

  color: #fff;
  text-decoration: underline;
}


.moreAbout:hover {
  background-color: #ff4a4a;
  color: #ffffff;
}

.NavLink {
  color: #000;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: lighter;

}